@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin blur-anim($name) {
    @keyframes #{$name}-blur {
      0% { backdrop-filter:blur(0)}
      100% {backdrop-filter: blur(var(--#{$name}-background-blur))}
    }
}
  


$cubic-bezier1:cubic-bezier(0.5,0.25,0,1);
$cubic-bezier-launch:cubic-bezier(0.090, 0.675, 0.185, 0.980);

