.sidebar_ded4b5 {
  &:has(+ [aria-label="Friends"]) {
    nav.privateChannels__93473 {
      position: static;
      .searchBar_e4ea2a {
        box-shadow: none;
        position: absolute;
        left: 380px;
        width: calc(100vw - 720px);
        top:0;
        height: 48px;
        z-index: 6; 
        button {
            text-align: center;
        }
      }
    }
  }
}

main.container__5c7e7 {

&[aria-label="Friends"] {
    .tabBody_b3d268 {
        [role=tabpanel] {
        padding-top: 40px;
        }
    }

    .upperContainer__993ba {
        justify-content: flex-start;
       .children__32014 {
        position: absolute;
        top: 60px;
        left: 20px;
        width: calc(45vw + 70px);
        overflow-x: scroll;
        &::-webkit-scrollbar  {
          background-color: transparent;
        }
       
       }

    }
}
}