/**
* @name FloatyDiscord
* @author Superuser#1958
* @description Give Discord a little breathing room...
* @version 1.0.0
* @authorId 419610859392860162
* @website https://github.com/joshuah345
* @source https://https://github.com/joshuah345/Discord-Stuff/Themes/FloatyDiscord
*/
@import url("https://raw.githubusercontent.com/joshuah345/Discord-Stuff/master/Themes/FloatyDiscord/FloatyDiscord.css");

:root {

    /* These variables can be moved into a respective :root.theme selctor below to have their setting applied per-theme.*/


    --threads-margin-right:10px;
    /* How far over to move floating threads from the right edge (in px)| Default: 10px  */

    --guilds-margin-left: 10px;
    /* How far to push the guilds list from the left edge (in px) | Default: 10px */

    --ui-inset: 8px; 
     /* How much to "compress" items | Default: 8px */ 

     --ui-radius: 18px; 
     /* How much to round corners. | Default: 18px*/
}

:root.theme-dark {
    /* ! CONFIG FOR DARK MODE ! */
    
    --ui-opacity: 1;
    /* Makes everything a bit more see-through
    Can be a percentage or a value from 0-1. 1 being opaque (100%) and 0 being completely transparent. */
    
    --background-image: url("https://w.wallhaven.cc/full/9m/wallhaven-9mjoy1.png");
    /* Background image. Must use url(link) format. */
    
    --float-background-color: rgba(var(--brand-900-rgb), 0.5);
    /* Note, you can set both a background image and color. 
    The image will be tinted to the color you set. give the color an alpha for less tinting.  
    All CSS color types are allowed.
    Default: rgba(var(--brand-900-rgb), 0.5) */
    
    --background-blur: 10px; /* How much to blur background behind views. values ending in px are suggested. | Default: 10px */
    
    --guilds-background: var(--background-tertiary);
    /* Background for guild list. All CSS color types are allowed. | default: var(--background-tertiary) */
    
    --guilds-border-color: var(--brand-600) /* Color of guilds border | Default: var(--brand-600) */
    --guilds-border-width: 2px; /* Width of chat border in px | Set to 0 to disable | Default: 2px */
    
    --chat-border-color: var(--brand-300);  /* Color of chat border */
    --chat-border-width: 2px;  /* Width of chat border in px | Set to 0 to disable | Default: 2px */
    
    --sidebar-border-color: var(--brand-experiment-500);  /* Color of sidebar border */
    --sidebar-border-width: 2px;  /* Width of sidebar border in px | Set to 0 to disable | Default: 2px */

    --threads-border-color: var(--brand-experiment); /* Border color for thread overlay */
    --threads-border-width: 2px; /* Width of floating thread border | Set to 0 to disable | Default: 2px */
}

:root.theme-light {
    /* ! CONFIG FOR LIGHT MODE ! */
    
    --ui-opacity: 1;
    /* Makes everything a bit more see-through
    Can be a percentage or a value from 0-1. 1 being opaque (100%) and 0 being completely transparent. */
    
    --background-image: url("https://w.wallhaven.cc/full/9d/wallhaven-9d6rd8.jpg");
    /* Background image. Must use url(link) format. */
    
    --float-background-color: rgba(var(--brand-900-rgb), 0.2);
    /* Note, you can set both a background image and color. 
    The image will be tinted to the color you set. give the color an alpha for less tinting.  
    All CSS color types are allowed.
    Default: rgba(var(--brand-900-rgb), 0.5) */
    
    --background-blur: 10px; /* How much to blur background behind views. values ending in px are suggested. | Default: 10px */
    
    --ui-radius: 18px; /* How much to round corners. | Default: 18px*/
    --ui-inset: 8px;  /* How much to "compress" items | Default: 8px */
    
    --guilds-background: var(--background-tertiary);
    /* All CSS color types are allowed. | default: var(--background-tertiary)) */
    --guilds-border-color: var(--brand-600) /* Color of guilds border | Default: var(--brand-600) */
    --guilds-border-width: 2px; /* Width of chat border in px | Set to 0 to disable | Default: 2px */
    
    --chat-border-color: var(--interactive-active);  /* Color of chat border */
    --chat-border-width: 2px;  /* Width of chat border in px | Set to 0 to disable | Default: 2px */

    --sidebar-border-color: var(--brand-700);  /* Color of sidebar border */
    --sidebar-border-width: 2px;  /* Width of sidebar border in px | Set to 0 to disable | Default: 2px */

    --threads-border-color: var(--brand-800); /* Border color for thread overlay */
    --threads-border-width: 2px; /* Width of floating thread border | Set to 0 to disable | Default: 2px */
}