
/* animate discord search bar  */

.search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
    width: 27px;
    transition: 0.5s;
    background-color: transparent;
}

.search_ac353c:not(.open_d3ab4e):hover .searchBar_e0c60b {
    width: 240px;
    background-color: var(--background-tertiary);
}

.search_ac353c:not(.open_d3ab4e) .iconContainer__8fa9c {
    transform: scale(1.3);
    transition: 0.5s;
}

.search_ac353c:not(.open_d3ab4e):hover .iconContainer__8fa9c {
    transform: scale(1);
}

.search_ac353c:not(.open_d3ab4e) .icon_f50f05 {
    color: var(--text-normal);
}

.search_ac353c:not(.open_d3ab4e):hover .icon_f50f05 {
    color: var(--text-muted);
}
