/* MODALS */

@use "./userprofile";
@use "./quickswitcher";

.root_a28985,
.container_a30b97,
.focusLock__28507[aria-modal="true"]
  > :not(.fullscreenOnMobile__05784)
  .modal_d2e7a7
  > .wrapper-2bCxfR
  > div:not([class|="imageWrapper"]),
.modalRoot_d45f8d,
.messagesPopoutWrap__10dd1,
.container_f93da8 {
  border-radius: var(--unity-border-radius);
}

[role="dialog"] {
  &:has(div .modal__6a96b),
  &:has(> .modal__6a96b),
  & > div:has(.modal__6a96b) {
    background: transparent;
  }

  .rootWithShadow_d20cd6:not(:has(.modal__6a96b)) {
    background-color: var(--unity-background-floating);

    &::after {
        content: "";
        position:absolute;
        width:100%;
        height:100%;
        border-radius: var(--unity-border-radius);
        backdrop-filter: blur(var(--unity-floating-blur-radius));
        z-index: -1;
        top: 0;
        left: 0;
      }
  }

  .header__5e5a6,
  .content__3ea16 {
    border-radius: var(--unity-border-radius) var(--unity-border-radius) 0 0;
  }

  .footer_e0b400 {
    border-radius: 0 0 var(--unity-border-radius) var(--unity-border-radius);
    justify-content: space-around;

    button {
      width: auto;
      border-radius: var(--unity-border-radius);
      &:not([type="submit"]) {
        background-color: var(--brand-experiment-35a);
        transition: background-color ease 0.2s;

        &.lookLink_a2da25.colorPrimary_ebe632 {
          color: var(--interactive-active);
        }

        &:hover {
          background-color: var(--brand-experiment);
        }

        .contents__322f4 {
          background-image: none;
        }
      }
    }
  }
}
