/* MODALS */

@use './userprofile';
@use './quickswitcher';

.root_a28985,
.container__9d271,
.focusLock__10aa5[aria-modal=true]>:not(.fullscreenOnMobile__96797)
.modal_d2e7a7>.wrapper-2bCxfR>div:not([class|="imageWrapper"]),
.modalRoot__51794,
.messagesPopoutWrap_b3b384,
.container__8261a {
    border-radius: var(--unity-border-radius);
}

[role=dialog] {

    &:has(div .modal__6a96b), &:has(> .modal__6a96b), & >div:has(.modal__6a96b) {
        background: transparent;
    }

    .rootWithShadow__073a7:not(:has(.modal__6a96b)) {
        backdrop-filter: blur(var(--unity-floating-blur-radius));
        background-color: var(--unity-background-floating);
    }

        .footer__89240 {
            border-radius: 0 0 var(--unity-border-radius) var(--unity-border-radius);
            justify-content: space-around;
    
            button {
                width: auto;
                border-radius: var(--unity-border-radius);
                &:not([type=submit]) {
                    background-color: var(--brand-experiment-35a);
                    transition: background-color ease 0.2s;

                    &:hover {
                        background-color: var(--brand-experiment);
                    }

                    .contents_fb6220 {
                        background-image: none;
                    }
                }
            }
        }
    }    