/* USER PROFILE MODAL */

[role="dialog"][aria-modal="true"] {
    .root_ba16f0:has(.userProfileModalOuter__90b4a) {
        --modal-background: transparent;
        /* all modals have this background, even the profile ones that have an overlay */
    }

    .userProfileModalOuter__90b4a {
        border-radius: var(--unity-border-radius);

        >.userProfileModalInner__84e47 {

            &::before {
                border-radius: calc(var(--unity-border-radius) - 4px);
            }

            .topSection__2d8b8 {
                .bannerSVGWrapper__8a38c {
                    border-radius: calc(var(--unity-border-radius) - 4px) calc(var(--unity-border-radius) - 4px) 0 0;
                }
            }

            >.userProfileModalOverlayBackground_a5b043 {
                border-radius: calc(var(--unity-border-radius) - 8px);

                .tabBar__35f81 {

                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                    gap: 10px 5px;

                    .tabBarItem_ce14f3 {
                        border-radius: var(--radius-round);
                        border: 1px solid transparent;
                        text-align: center;
                        height: auto;
                        margin: 0px 15px 20px;
                        padding: 5px 10px;

                        &:hover,
                        &.selected_a523ff {
                            border: 1px solid var(--interactive-hover);
                            transition: border 100ms ease-in;
                        }

                        &.disabled__2717e:hover {
                            border-color: var(--interactive-muted);
                        }

                        &.selected_a523ff {
                            border: 1px solid var(--interactive-active);

                            &.brand_ce3ecf {
                                border: 1px solid var(--brand-experiment);
                            }
                        }
                    }
                }
            }
        }
    }
}




.profileBadges__1f2ab,
.badgeList__76720 {
    border-radius: var(--unity-border-radius);
}