

.list__5ced9 {

    .card__691f2 {
        .mainCard__8a660 {
            border-radius: var(--unity-border-radius);

            + .matchingPostsRow__510be {
                border-radius: var(--unity-border-radius);
                margin-top: 4px;
            }
        }
        .container__1b27a {

            border-radius: calc(var(--unity-border-radius) + 12px);
        }
    }
}


.chat__52833:has(.threadSidebarOpen_fa231d) {
    .list__5ced9>div:first-child, .grid__36f14>div:first-child, .headerRow__16d8e {
        min-width: none;
    }
        width: 95%;
}