@use './threads';
@use './userpanel';
@use './textarea';
@use '../../addons/chatbubbles';
@use '../keyframes';
@use './forums';

@include keyframes.blur-anim(chat);
@include keyframes.blur-anim(header);

.base_c0676e {

    .searchResultsWrap__2e184 {
        background: transparent;
    }

    .noChat_ce920d {
        border-radius: var(--unity-border-radius);
        overflow:hidden;
    }

    /* HEADER */

    .title_d4ba1a,
    .subtitleContainer_f50402,
    .container__26baa.themed_b152d4:not(:has(+ .chat_f9a759)) {

        :root.full-motion & {
            transition: border-radius 2s keyframes.$cubic-bezier1;
        }

        border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));
        background-color: var(--header-background-color, var(--chat-background-color, var(--background-primary)));
        
        &::after {
            content: "";
            position: absolute;
            top:0;
            left: 0;
            backdrop-filter: blur(var(--header-background-blur));
            z-index: -1;
        }


        &+*,
        &~.container_a8317e {
            :root[class*="full-motion"] & {
                transition:
                    border-radius 2s keyframes.$cubic-bezier1,
                    margin-top 2s keyframes.$cubic-bezier1;
            }

            margin-top: calc(var(--unity-inset) * var(--enable-gaps));
            border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));
            background-color: var(--bg-overlay-chat, var(--chat-background-color, var(--background-primary)));
            background-image: var(--chat-background-image);
            background-blend-mode: multiply;
            // blends background color and image if set 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &::before {
            display: none;
        }

        .children_cde9af {
            &::after {
                display: none;
            }
        }
    }

    .noChannel__28db0,
    // Favorites tab 
    .sidebar_e031be+*,
    // Anything next to (sibling of) the sidebar 
    :is(.chat__52833, .chat__52833.threadSidebarOpen__62c31),
    .container_bd15da,
    .container__03ec9 {

        :root.full-motion & {
        transition:
            margin-left 3s keyframes.$cubic-bezier1,
            border-radius 2s keyframes.$cubic-bezier1,
            opacity 1s keyframes.$cubic-bezier1;
    }

        margin-left: calc(var(--unity-inset) / 2 * var(--enable-gaps));
        border: calc(var(--chat-border-width, 0) * var(--enable-gaps)) solid var(--chat-border-color, transparent);
        opacity: var(--unity-opacity, 1);
        background-color: var(--bg-overlay-chat);
        background-image: var(--chat-background-image);
        background-blend-mode: multiply;
        // blends background color and image if set 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // disable tiling of image 
        overflow: hidden;
   
        &::before {
            content: "";
            backdrop-filter: blur(var(--chat-background-blur));
            width: 100%;
            height: 100%;
            position:absolute;
            top: 0;
            left:0;
            animation: chat-blur linear 250ms forwards;
            border-radius: calc(var(--unity-border-radius ) * var(--enable-gaps));
            z-index: -1;
        }

        .tabBody_a90ea8 {

            .nowPlayingColumn_b025fe {
                background: transparent;

                aside {
                    background: transparent;
                }
            }

            .itemCard_b64118 {
                border-radius: calc(var(--unity-border-radius) - 16px);
            }

            &::before {
                display: none;
            }
        }

        .content__01e65 {

            >div {
                border-radius: var(--unity-border-radius);
            }

            &::before {
                display: none;
            }

            .buttons__36852 {
                .buttonsInner_a9dfff {
                    border-radius: var(--unity-border-radius);

                    .button_d4bf9b {

                        &:first-child {
                            border-radius: var(--unity-border-radius) 0 0 var(--unity-border-radius);
                        }

                        &:last-child {
                            border-radius: 0 var(--unity-border-radius) var(--unity-border-radius) 0;
                        }
                    }
                }
            }
        }

        :root.custom-theme-background & {
            background-blend-mode: normal;
        }
    }

    .container_a8317e,
    .channelTextArea_c2094b,
    .header__119bc,
    .wrapper__6b7d8,
    .container__68e43 {
        background: transparent;
        /* Set backgrounds to transparent so we can see wrapper's background */
    }


}

main:not(.container_ec90d4) {
    background-color: var(--chat-background-color, var(--background-primary));
    border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));


    .newMessagesBar__8b272 {
        border-radius: calc(var(--unity-border-radius) - 12px);
        top: 12px;
    }

    .jumpToPresentBar__69174 {
        width: calc(100% - 50px);
        margin: 0 auto;
    }

    :root.custom-theme-background & {
        background-color: unset;
        background: var(--bg-overlay-chat, var(--background-primary));
    }
}

[customTitlebar] .base_c0676e {
    border-top-left-radius: calc(var(--unity-border-radius) * var(--enable-gaps)) !important;
}

.searchResultsWrap__2e184 {
    border-radius: 0 var(--unity-border-radius) var(--unity-border-radius) 0;
                    }
                    