@use './threads';
@use './userpanel';
@use './textarea';

.base__3e6af {

    .title_b7d661,
    .container__11d72.themed_b152d4 {
        border-radius: calc(var(--unity-border-radius) * var(--enable-gaps)) calc(var(--unity-border-radius) * var(--enable-gaps)) 0 0;
        background-color: var(--header-background-color, var(--chat-background-color, var(--background-primary)));
        backdrop-filter: blur(10px) !important;

        .children__32014 {
            &::after {
                display: none;
            }
        }
    }

    .container_def45c .container__11d72.themed_b152d4 {
        background-color: transparent;
    }

    .noChannel__7bbff,
    // Favorites tab 
    .sidebar_ded4b5+*,
    // Anything next to (sibling of) the sidebar 
    :is(.chat__52833, .chat__52833.threadSidebarOpen_fa231d),
    .container__5c7e7,
    .container__10dc7 {
        border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));
        margin: calc(var(--unity-inset) * var(--enable-gaps));
        border: calc(var(--chat-border-width, 0) * var(--enable-gaps)) solid var(--chat-border-color, transparent);
        opacity: var(--unity-opacity, 1);
        background-color: var(--bg-overlay-chat, var(--chat-background-color, var(--background-primary)));
        background-image: var(--chat-background-image);
        background-blend-mode: multiply;
        // blends background color and image if set 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // disable tiling of image 
        -webkit-backdrop-filter: blur(var(--chat-background-blur, 0px));
        backdrop-filter: blur(var(--chat-background-blur, 0px));
        overflow: hidden;

        .content__1a4fe {
            &::before {
                display: none;
            }
        }

        :root.custom-theme-background & {
            background-blend-mode: normal;
        }

    }


    :is(.chat__52833, .chat__52833.threadSidebarOpen_fa231d) {

        .container__0eeef,
        .channelTextArea__2e60f,
        .header_b5ab54 {
            background-color: transparent;
            /* Set backgrounds to transparent so we can see wrapper's background */
        }
    }
}

.chatContent__5dca8 {
    background-color: var(--chat-background-color, var(--background-primary));


    :root.custom-theme-background & {
        background-color: unset;
        background: var(--bg-overlay-chat, var(--background-primary));
    }
}

[customTitlebar] .base__3e6af {
    border-top-left-radius: calc(var(--unity-border-radius) * var(--enable-gaps)) !important;
}