@use './threads';
@use './userpanel';
@use './textarea';
@use '../../addons/chatbubbles';
@use '../keyframes';


.base__3e6af {

    /* HEADER */

    .title_b7d661,
    .container__11d72.themed_b152d4:not(:has(+ .chat_f9a759)) {
        transition: border-radius 2s keyframes.$cubic-bezier1;

        border-radius: calc(var(--unity-border-radius) * var(--enable-gaps)) calc(var(--unity-border-radius) * var(--enable-gaps));
        background-color: var(--header-background-color, var(--chat-background-color, var(--background-primary)));
        backdrop-filter: blur(var(--header-background-blur));

         &+*, & ~ .container__0eeef {
            transition: 
            border-radius 2s keyframes.$cubic-bezier1,
            margin-top 2s keyframes.$cubic-bezier1;
    
    
            margin-top: calc(var(--unity-inset) * var(--enable-gaps));
            border-radius: calc(var(--unity-border-radius)  * var(--enable-gaps));
            background-color: var(--bg-overlay-chat,var(--chat-background-color, var(--background-primary)));
            background-image: var(--chat-background-image);
            background-blend-mode: multiply;
            // blends background color and image if set 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
         }
         &::before {
            display:none;
         }
        .children__32014 {
            &::after {
                display: none;
            }
        }
    }


    .noChannel__7bbff,
    // Favorites tab 
    .sidebar_ded4b5+*,
    // Anything next to (sibling of) the sidebar 
    :is(.chat__52833, .chat__52833.threadSidebarOpen_fa231d),
    .container__5c7e7,
    .container__10dc7 {

        transition: 
        margin-left 3s keyframes.$cubic-bezier1,
        border-radius 2s keyframes.$cubic-bezier1,
        opacity 1s keyframes.$cubic-bezier1;
       
        margin-left: calc(var(--unity-inset) / 2 * var(--enable-gaps));
        border: calc(var(--chat-border-width, 0) * var(--enable-gaps)) solid var(--chat-border-color, transparent);
        opacity: var(--unity-opacity, 1);
        background-color: var(--bg-overlay-chat);
        background-image: var(--chat-background-image);
        background-blend-mode: multiply;
        // blends background color and image if set 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // disable tiling of image 
        -webkit-backdrop-filter: blur(var(--chat-background-blur, 0px));
        backdrop-filter: blur(var(--chat-background-blur, 0px));
        overflow: hidden;

        .tabBody_b3d268 {
            &::before {
                display: none;
            }
        }

        .content__1a4fe {
        

            &::before {
                display: none;
            }
            .buttons__3766a {
                .buttonsInner_bca8fa {
                    border-radius: var(--unity-border-radius);

                    .button_d553e5 {

                        border-radius: var(--unity-border-radius);

                        &:first-child {
                            border-radius: var(--unity-border-radius) 0 0 var(--unity-border-radius);
                        }

                        &:last-child {
                            border-radius: 0 var(--unity-border-radius) var(--unity-border-radius) 0;
                        }

                    }

                }
            }
        }

        :root.custom-theme-background & {
            background-blend-mode: normal;
        }

    }


    .container__0eeef,
    .channelTextArea__2e60f,
    .header_b5ab54,
    .wrapper__5c5cd {
        background-color: transparent;
        /* Set backgrounds to transparent so we can see wrapper's background */
    }

}

main:not(.container_a87c5e) {
    background-color: var(--chat-background-color, var(--background-primary));
    border-radius: calc(var(--unity-border-radius) * var(--enable-gaps)) ;


    .newMessagesBar__8b6d7 {
        border-radius: calc(var(--unity-border-radius) - 12px );
        top: 12px;
    }

    .jumpToPresentBar__0ff7f {
        width: calc(100% - 50px);
        margin: 0 auto;
    }

    :root.custom-theme-background & {
        background-color: unset;
        background: var(--bg-overlay-chat, var(--background-primary));
    }
}

[customTitlebar] .base__3e6af {
    border-top-left-radius: calc(var(--unity-border-radius) * var(--enable-gaps)) !important;
}