// CHANNEL TEXT AREA
.form__13a2c {
    padding: 0 8px;

    .wrapper_fbbb73 {
        border-radius: var(--unity-border-radius);
        margin-bottom: 4px;
        background: transparent;
        box-shadow: var(--elevation-low);
    }

    &::before {
        display: none;
    }


    &:has(.typing__6fd1d) {
        
        .channelTextArea__2e60f {
            margin-bottom: 24px;
        }
    }

    .typing__6fd1d {
        animation: fadein 0.5s ease-in normal forwards;
    }

    .channelTextArea__2e60f {
        margin-bottom: 8px;
    

        :root.full-motion & {
            transition: margin-bottom ease-out 0.2s;
        }

        .custom-theme-background & {
            background-color: transparent;
        }

        .autocomplete_df266d {
            border-radius: var(--unity-border-radius);
            background-color: var(--unity-background-floating);
            backdrop-filter: blur(var(--unity-floating-blur-radius));

            .rail_ad1aea {


                .wrapper__4f229 {
                    background: transparent;
                }
            }

            ul[role="group"] {
                .categoryHeader_f97a5f {
                    background: none;

                    .header__9f6dc[role="button"] {
                        margin-top: 12px;
                    }
                }
            }
        }

        .scrollableContainer__33e06 {
            &:not(.channelTextAreaInner-2_mflx) {
                border-radius: calc(var(--unity-border-radius) - 6px);
                overflow-y: overlay !important;
            }

            &.hasConnectedBar__277ab {
                background: var(--brand-experiment-25a);
            }
        }

        .actionBar__3cdab {
            .wrapper_c727b6 {
                border-radius: var(--unity-border-radius);

                button {
                    &:first-of-type {
                        border-top-left-radius: var(--unity-border-radius);
                        border-bottom-left-radius: var(--unity-border-radius);
                    }

                    &:last-of-type {
                        border-top-right-radius: var(--unity-border-radius);
                        border-bottom-right-radius: var(--unity-border-radius);
                    }
                }
            }
        }

        .attachedBars_da3c74 {
            padding-bottom: 5px;
            background: transparent;
            border-radius: var(--unity-border-radius);

            .replyBar_b64d74 {
                border-radius: var(--unity-border-radius);
            }
        }

        .buttons_ce5b56 {
            margin-right: 6px;

            // Send button stuff
            .innerButton_debeee {
                margin: 0;
            }

            .separator__8424b {
                margin-left: 8px;

                >.buttonContainer__9b459>button:last-of-type {
                    width: 35px;
                    height: 35px;
                    align-items: center;
                    align-self: center;
                    border-radius: calc(var(--unity-border-radius) - 8px);
                    margin-left: 10px;

                    .contents_fb6220 {
                        margin: 0 auto;
                    }

                    &:not(:disabled) {
                        background-color: var(--brand-experiment);
                    }
                }
            }
        }
    }
}

/* SLATE TOOLBAR  */
#slate-toolbar {
    border-radius: var(--unity-border-radius);

    .buttons_bee06d {
        button {
            border-radius: var(--unity-border-radius);

            &:first-of-type {
                border-radius: var(--unity-border-radius) 0 0 var(--unity-border-radius);
            }

            &:last-of-type {
                border-radius: 0 var(--unity-border-radius) var(--unity-border-radius) 0;
            }
        }
    }
}