.container_def45c

/* floating container for open thread */
    {
    border: var(--threads-border-width, 0) solid var(--threads-border-color, transparent);
    border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));
    opacity: var(--unity-opacity, 1);
    overflow: hidden;
    /* hide overflow so borders will actually be rounded */
    backdrop-filter: blur(var(--threads-blur-radius));
    background: var(--threads-background-color, var(--background-primary));

    &+.resizeHandle_f1a098 {
        margin: auto calc(var(--unity-inset) / 2);
        height: 50vh;
        border-radius: var(--radius-round);

    }

    .notFloating__80043~& {}
}