/* MEMBERS LIST */

.container_f79ab4 {
    margin-left: calc(var(--unity-inset) * var(--enable-gaps));
    border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));
    .membersWrap__5ca6b {
        border-radius:  calc(var(--unity-border-radius) * var(--enable-gaps));
        overflow: hidden;
    }
}