/* MEMBERS LIST */

.container_b2ce9c {
    margin-left: calc(var(--unity-inset) * var(--enable-gaps));
    border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));
    .membersWrap__90226 {
        border-radius:  calc(var(--unity-border-radius) * var(--enable-gaps));
        overflow: hidden;
    }
}