.groupStart__7b93c.cozyMessage__9f4fd>.contents_d3ae0d,
// .mediaAttachmentsContainer__242e2>*>div:not(class):only-child,
.mediaAttachmentsContainer__242e2:has(.messageAttachmentMediaMosaic__67262),
.embed_cc6dae,
.cozyMessage__9f4fd:not(.groupStart__7b93c)>.contents_d3ae0d>.markup_a7e664:not(:empty, .searchResultsWrap__2e184 *) {
    background: linear-gradient(var(--unity-chat-bubble-background-color, var(--background-primary)), var(--unity-chat-bubble-background-color, var(--background-primary)));
    background-size: calc(var(--enable-chat-bubble) * 1px);
    max-width: calc(100% - ((100% - var(--unity-chat-bubble-max-width)) * var(--enable-chat-bubble)));
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: calc(7px * var(--enable-chat-bubble)) calc(12px * var(--enable-chat-bubble));
    border-radius: calc(var(--unity-chat-bubble-border-radius) * var(--enable-chat-bubble));
    border: calc(1px * var(--enable-chat-bubble)) solid var(--unity-chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--unity-chat-bubble-box-shadow-h-offset) calc(var(--unity-chat-bubble-box-shadow-v-offset) * var(--enable-chat-bubble)) calc(var(--unity-chat-bubble-box-shadow-blur) * var(--enable-chat-bubble)) hsla(var(--unity-chat-bubble-box-shadow-color-h), var(--unity-chat-bubble-box-shadow-color-s), var(--unity-chat-bubble-box-shadow-color-l), calc(var(--unity-chat-bubble-box-shadow-color-a) * var(--enable-chat-bubble)));

    &:has(.embedMedia__4e169):not(:has(.imageContent__0fe2a)) {
        width: unset;
    }
    
}

.container__62863 {

    .embed_cc6dae.markup_a7e664 {
        padding: calc(5px * var(--enable-chat-bubble)) calc(5px * var(--enable-chat-bubble));

        .embedImage_eb54e3 {
            border-radius: calc(var(--unity-chat-bubble-border-radius) - 7px * var(--enable-chat-bubble));
        }
    }

    .mediaAttachmentsContainer__242e2:has(.messageAttachmentMediaMosaic__67262) {
        height: fit-content;
        padding: calc(10px * var(--enable-chat-bubble));

        [class*="grid" i] {
            border-radius: calc(var(--unity-chat-bubble-border-radius) - 10px * var(--enable-chat-bubble));
            overflow: hidden;
        }   
    }

    .inlineMediaEmbed_b25e49 {
        border-radius: calc(var(--unity-chat-bubble-border-radius) - 10px * var(--enable-chat-bubble));
        padding:  calc(10px * var(--enable-chat-bubble)) calc(10px * var(--enable-chat-bubble));
    }

}


.cozyMessage__9f4fd.automodMessage__43f24:before,
.cozyMessage__9f4fd.ephemeral_eb5d84:before,
.cozyMessage__9f4fd.mentioned_fa6fd2:before,
.cozyMessage__9f4fd.replying__38514:before {
    width: calc(2px - (var(--enable-chat-bubble) * 2px));
}

.groupStart__7b93c.cozyMessage__9f4fd.mentioned_fa6fd2 .contents_d3ae0d,
.cozyMessage__9f4fd.mentioned_fa6fd2:not(.groupStart__7b93c) .contents_d3ae0d>.markup_a7e664:not(:empty, .searchResultsWrap__2e184 *) {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc(var(--enable-chat-bubble) * 1px);
    border: calc(1px * var(--enable-chat-bubble)) solid var(--unity-orange);
}

.cozyMessage__9f4fd.mentioned_fa6fd2 {
    background: linear-gradient(var(--background-mentioned), var(--background-mentioned));
    background-size: calc((1 - var(--enable-chat-bubble)) * 1px);
}

.groupStart__7b93c.cozyMessage__9f4fd.replying__38514 .contents_d3ae0d,
.cozyMessage__9f4fd.replying__38514:not(.groupStart__7b93c) .contents_d3ae0d>.markup_a7e664:not(:empty, .searchResultsWrap__2e184 *),
.groupStart__7b93c.cozyMessage__9f4fd.ephemeral_eb5d84 .contents_d3ae0d,
.cozyMessage__9f4fd.ephemeral_eb5d84:not(.groupStart__7b93c) .contents_d3ae0d>.markup_a7e664:not(:empty, .searchResultsWrap__2e184 *) {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc(var(--enable-chat-bubble) * 1px);
    border: calc(1px * var(--enable-chat-bubble)) solid var(--brand-experiment);
}

.cozyMessage__9f4fd.replying__38514,
.cozyMessage__9f4fd.ephemeral_eb5d84 {
    background: linear-gradient(var(--brand-experiment-05a), var(--brand-experiment-05a));
    background-size: calc((1 - var(--enable-chat-bubble)) * 1px);
}

.groupStart__7b93c.cozyMessage__9f4fd.automodMessage__43f24 .contents_d3ae0d,
.cozyMessage__9f4fd.automodMessage__43f24:not(.groupStart__7b93c) .contents_d3ae0d>.markup_a7e664:not(:empty, .searchResultsWrap__2e184 *) {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc(var(--enable-chat-bubble) * 1px);
    border: calc(1px * var(--enable-chat-bubble)) solid var(--text-danger);
}

.cozyMessage__9f4fd.automodMessage__43f24 {
    background: linear-gradient(var(--background-message-automod), var(--background-message-automod));
    background-size: calc((1 - var(--enable-chat-bubble)) * 1px);
}

.groupStart__7b93c.cozyMessage__9f4fd.automodMessage__43f24:hover .contents_d3ae0d,
.cozyMessage__9f4fd.automodMessage__43f24:not(.groupStart__7b93c):hover .contents_d3ae0d>.markup_a7e664:not(:empty, .searchResultsWrap__2e184 *) {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc(var(--enable-chat-bubble) * 1px);
    border: calc(1px * var(--enable-chat-bubble)) solid var(--text-danger);
}

.cozyMessage__9f4fd.automodMessage__43f24:hover {
    background: linear-gradient(var(--background-message-automod-hover), var(--background-message-automod-hover));
    background-size: calc((1 - var(--enable-chat-bubble)) * 1px);
}

.groupStart__7b93c.cozyMessage__9f4fd>.contents_d3ae0d .markup_a7e664 code,
.cozyMessage__9f4fd:not(.groupStart__7b93c)>.contents_d3ae0d>.markup_a7e664:not(:empty, .searchResultsWrap__2e184 *) code {
    background: linear-gradient(var(--unity-chat-bubble-code-background-color), var(--unity-chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    background-size: calc(var(--enable-chat-bubble) * 1px);
    border-radius: calc(var(--unity-chat-bubble-border-radius) - 10px);
}

.markup_a7e664 blockquote,
.markup_a7e664 pre {
    max-width: 100%;
}