:where(.children_cde9af, .contents_d3ae0d, .link__3a950, .userInfo__83819) {
  &:has([src*="419610859392860162"]) {
    :where(.overflow__993fa, .headerText_bd68ec, .username__267df, .titleWrapper_d6133e > h1 > div) {
        display: inline-flex;
        flex-wrap: wrap;

      &:after {
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        content: "unity developer";
        text-transform: uppercase;
        border: 1px solid var(--brand-experiment-600);
        padding: 0 4px;
        background-color: var(--brand-experiment-50a);
        font-size: 10px;
        height: 15px;
        border-radius: 4px;
        margin: auto 0 auto 4px;
        text-decoration: none !important;
        color: var(--interactive-active);
      }
    }
  }
}
