
    @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Product Sans Italic'), url('ProductSans-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Product Sans Thin Regular'), url('ProductSans-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Product Sans Light Regular'), url('ProductSans-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Product Sans Medium Regular'), url('ProductSans-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight: 100;
    src: local('Product Sans Thin Italic'), url('ProductSans-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Product Sans Light Italic'), url('ProductSans-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight: 500;
    src: local('Product Sans Medium Italic'), url('ProductSans-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Product Sans Bold'), url('ProductSans-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans Bold Italic';
    font-style: italic;
    font-weight: bold;
    src: local('Product Sans Bold Italic'), url('ProductSans-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight:900;
    src: local('Product Sans Black Italic'), url('ProductSans-BlackItalic.woff') format('woff');
    }