/* GUILD LIST */

@use '../keyframes';

nav.wrapper_a7e7a8 {

    transition: 
        margin 3s keyframes.$cubic-bezier1,
        border-radius 2s keyframes.$cubic-bezier-launch,
        opacity 1s keyframes.$cubic-bezier-launch;

    border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));
    border: calc(var(--guilds-border-width, 0) * var(--enable-gaps)) solid var(--guilds-border-color, transparent);
    margin: calc(var(--enable-gaps) * var(--guilds-top-bottom-inset, var(--unity-inset))) 0 calc(var(--guilds-top-bottom-inset, calc(var(--unity-inset) * 2)) * var(--enable-gaps)) calc(var(--guilds-margin-left, calc(var(--unity-inset)*1.5))* var(--enable-gaps));
    opacity: var(--unity-opacity, 1);
    background-color: var(--guilds-background-color, var(--background-tertiary));
    background-image: var(--guilds-background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    /* blends background color and image if set */
    -webkit-backdrop-filter: blur(var(--chat-background-blur, 0px));
    backdrop-filter: blur(var(--guilds-background-blur, 0px));

    .scroller__3d071 {
        background-color: transparent;

        .custom-theme-background & {
            background: var(--bg-overlay-app-frame, transparent);
            background-blend-mode: normal;
        }
    }
}