.searchBarComponent__46512, .searchBar_e0c60b{
    border-radius: var(--unity-border-radius);
    padding-left: 5px;
}

.searchFilter__118cb {
    padding: 0px 4px;
    border-radius: var(--unity-border-radius) 0 0 var(--unity-border-radius) ;
}

.searchAnswer_b452e7 {
    padding: 0 4px;
    border-radius: 0 var(--unity-border-radius) var(--unity-border-radius) 0 ;
}

[role="tabpanel"] {
    .searchBar_ff8800 {
        border-radius: calc(var(--unity-border-radius) - 8px);
    }
}