.searchBarComponent__53adf, .searchBar__5a20a{
    border-radius: var(--unity-border-radius);
    padding-left: 5px;
}

.searchFilter_dbda51 {
    padding: 0px 4px;
    border-radius: var(--unity-border-radius) 0 0 var(--unity-border-radius) ;
}

.searchAnswer__2ccaf {
    padding: 0 4px;
    border-radius: 0 var(--unity-border-radius) var(--unity-border-radius) 0 ;
}

[role="tabpanel"] {
    .searchBar__310d8 {
        border-radius: calc(var(--unity-border-radius) - 8px);
    }
}