/* MATERIAL ICONS V4 for Discord (Sharp version). CREATED BY super.user / shouganai / joshuah345 */


/* (NITRO) GIFT ICON */

svg:has(path[d^="M16.886 7.999H20C21.104 7.999 22 8.896 22 9.999V11.999H2V9.999C2 8.896 2.897 7.999 4 7.999H7.114C6.663 7.764 6.236 7.477 5.879 7.121C4.709 5.951 4.709 4.048 5.879 "])  {
   background-color: currentColor;
   -webkit-mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/card_giftcard.svg") center/contain; 
   mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/card_giftcard.svg") center/contain;
}

/* GIF ICON */

svg:has(path[d="m2 2c-1.1046 0-2 0.89543-2 2v16c0 1.1046 0.89543 2 2 2h20c1.1046 0 2-0.8954 2-2v-16c0-1.1046-0.8954-2-2-2h-20zm2.4846 13.931c0.55833 0.375 1.2 0.5625 1.925 0.5625 0.96667 0 1.6958-0.3333 2.1875-1l0.2375 0.825h1.475v-4.9h-3.7625v1.625h1.9875v1.075c-0.15833 0.225-0.38333 0.4042-0.675 0.5375-0.28333 0.125-0.59583 0.1875-0.9375 0.1875-0.76667 0-1.3542-0.2458-1.7625-0.7375-0.40833-0.4916-0.6125-1.1916-0.6125-2.1 0-0.9 0.20417-1.5958 0.6125-2.0874 0.40833-0.5 0.99583-0.75 1.7625-0.75 0.84167 0 1.475 0.39166 1.9 1.175l1.4125-1.0124c-0.30003-0.575-0.74586-1.0208-1.3375-1.3375-0.58333-0.31667-1.2458-0.475-1.9875-0.475-0.875 0-1.6292 0.19166-2.2625 0.575-0.625 0.38333-1.1042 0.9125-1.4375 1.5875-0.325 0.67495-0.4875 1.45-0.4875 2.325 0 0.8834 0.15417 1.6667 0.4625 2.35 0.30833 0.675 0.74167 1.2 1.3 1.575zm7.4509 0.3875h1.825v-8.625h-1.825v8.625zm3.5767 0h1.825v-3.275h3.2v-1.65h-3.2v-2.05h3.9375v-1.65h-5.7625v8.625z"]) {
    background-color: currentColor;
    -webkit-mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/gif.svg") center/contain; 
    mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/gif.svg") center/contain;
}

/* SEND ICON */ 

.sendIcon-1HcEzu {
    background-color: currentColor;
    -webkit-mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/send.svg") center/contain ;
    mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/send.svg") center/contain ;
} 


.anchor-1X4H4q[href="https://support.discord.com"] .icon-2xnN2Y {
    background-color: currentColor;
    -webkit-mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/help.svg") center/contain ;
    mask: url("https://joshuah345.github.io/Discord-Stuff/assets/material-design-icons/svg/sharp/help.svg") center/contain;
}