@use '../keyframes';

/* container for sidebar and chat) */
.base__3e6af {
    :root.platform-osx &::after {
        content:"";
        width: 100vw;
        height:30px;
        z-index:2;
        -webkit-app-region: drag;
        position:absolute;
        top: 0;
        right: 0;
}

border: calc(var(--base-border-width, 0) * var(--enable-gaps)) solid var(--base-border-color, transparent);

&::before{
    content:"";
    width: 100%;
    height: 100%;
    background-image: var(--base-background-image);
    background-blend-mode: multiply;
    /* blends background color and image if set */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(var(--base-background-blur));
    position: absolute;
    z-index: 0;
    border-radius: var(--unity-border-radius);
    background-color: var(--bg-overlay-1, var(--base-background-color, var(--background-primary)));

}

    :root[class*="full-motion"] & {
        transition:
            padding 1s keyframes.$cubic-bezier-launch;
        padding: calc(var(--unity-inset) * var(--enable-gaps));
    }

    .notice__5fd4c {

        :root[class*="full-motion"] & {
            transition:
                margin 1s keyframes.$cubic-bezier-launch,
                border-radius 1s keyframes.$cubic-bezier-launch;
        }

        margin: calc(var(--unity-inset) * var(--enable-gaps));
        margin-bottom: 0px;
        border-radius: calc(var(--unity-border-radius) * var(--enable-gaps));

        &:last-child {
            border-radius: 0 0 calc(var(--unity-border-radius) * var(--enable-gaps)) calc(var(--unity-border-radius) * var(--enable-gaps));
        }
    }

    .content__4bf10 {
        :root[class*="full-motion"] & {

            transition: padding 1s keyframes.$cubic-bezier-launch,
                border-radius 0.5s keyframes.$cubic-bezier-launch;
        }

        padding: calc(var(--unity-inset) * var(--enable-gaps));
        border-radius: calc(var(--unity-border-radius) + var(--unity-inset) * var(--enable-gaps));
        background-color: transparent;
        opacity: var(--unity-opacity, 1);
        /* disable tiling of image */

        

        [customTitlebar] & {
            border-top-left-radius: calc(var(--unity-border-radius) * var(--enable-gaps)) !important;
        }

    }
}