#appearance-tab {
    .children_aba8cb {
        .marginTop8__7da6c:nth-child(2) {

            .presets__230dd {
                border-radius: var(--unity-border-radius);
                background-color: var(--unity-background-secondary);
                padding: 10px 10px;
            }

            .container__7ad1e {
                margin-top: 0;
                .labelRow__421af {
                    border-radius: var(--unity-border-radius);
                    background-color: var(--unity-background-secondary);
                    padding: 10px 10px;
                }
            }

            >div:not([class]) {
                [role=radiogroup] {

                    border-radius: var(--unity-border-radius);
                    background-color: var(--unity-background-secondary);
                    padding: 10px 10px;
                }
            }
        }

        div.text-md-normal__6e567:last-of-type {
            background-color: var(--brand-experiment-25a);
            border-radius: var(--unity-border-radius);
            border: none;
            padding: 16px 22px;
        }
    }
}