.sessions__7b95a .children_aba8cb { /* device sessions */
    background-color: var(--background-secondary);
    border-radius: var(--unity-border-radius);
    padding: 0 16px;

    .session__201cb {
       
        &:first-child {

        }
        &:last-child {
            border-bottom: none;
        }
    }
}