*:not(.container_c52416, .children_b15c64, [class^="margin"], div:not([class]))+.children_b15c64>.container_c52416 {
    border-top-left-radius:0;
    border-top-right-radius: 0;

    &:first-child {
        border-top-left-radius: var(--unity-border-radius);
        border-top-right-radius: var(--unity-border-radius);
    }
}



.children_b15c64 {

    :is([class^=margin]) {
  --custom-margin-margin-medium: 10px;
        .container_c52416:only-of-type {
            padding: 20px 20px;
           
        }

        [class="marginBottom20__64605"]:has(.divider_a2339a) + .container_c52416 {
            border-top-left-radius: var(--unity-border-radius);
            border-top-right-radius: var(--unity-border-radius);
        }
    }




    .container_c52416 {
        padding: 20px 20px;
        background-color: var(--unity-background-secondary);
        margin-top: 0;

        &:first-of-type,
        &.marginTop8__83d4b.marginBottom20__64605 {
            padding-top: 20px;
        }

        &:has(~ .container_c52416):not(:has(+ .container_c52416)) {
            border-radius: var(--unity-border-radius);
        }

        &:not(:has(+ .container_c52416, ~ .container_c52416)):only-child {
            border-radius: var(--unity-border-radius);
        }

        &:not(:has(+ .container_c52416)) {
            border-bottom-left-radius: var(--unity-border-radius);
            border-bottom-right-radius: var(--unity-border-radius);
        }

        &:has(+ .container_c52416) {
            margin-bottom: 0;

            &:not(:first-of-type) {
                padding: 10px 20px;
            }
        }

        &:last-of-type {
            border-bottom-left-radius: var(--unity-border-radius);
            border-bottom-right-radius: var(--unity-border-radius);

            .divider_a2339a {
                display: none;
            }
        }

        &:is(.marginBottom20__64605, .marginBottom40__9109c) {

            .divider_a2339a {
                display: none;
            }
        }

        &:only-of-type {
            .divider_a2339a {
                display: none;
            }

        }

        &.marginTop20_d88ee7:not(.container_c52416):has(+.container_c52416) {
            border-radius: var(--unity-border-radius) var(--unity-border-radius) 0 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            margin-bottom: 0;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        &:last-child:has(+.container_c52416) {
            border-radius: 0 0 var(--unity-border-radius) var(--unity-border-radius);
            margin-bottom: 20px;
            padding-bottom: 20px;
            padding-top: 10px;

            .divider_a2339a {
                display: none;
            }

        }
    }
}