@use './my-account';
@use './radios';
@use './devices';
@use './appearance';
@use './serversettings';
@use './tabs';
@use './profiles';
@use './connections';

.standardSidebarView__1129a {

    .contentColumn_dc7d36 {

        .sectionTitle_e32631>.defaultMarginh1__902c1,
        h2:first-of-type {
            text-align: center;
            font-size: 30px;
            margin-bottom: 50px;
            margin-top: 20px;

            &>.headerContainer__6ac35 {
                justify-content: center;
                font-size: 30px;
                margin-bottom: 10px;
                flex-direction: column;
                gap: 15px;
            }
        }
    }

    .button_afdfd9 {
        border-radius: var(--unity-border-radius);

        &.removeButton__8ecd1.lookLink__93965 {
            background-color: var(--status-danger);
            color: var(--interactive-active);

            .contents_fb6220 {
                --button--underline-color: transparent;
            }
        }
    }

    .card__4dc22 {
        border-radius: var(--unity-border-radius);
    }

    .codeRedemptionRedirect_bc7f36.card-16VQ8C,
    .formNotice-2nS8ey.cardPrimary-3qRT__,
    .attendeeCTA__9f614

    /* Hypesquad */
        {
        background-color: var(--brand-experiment-25a);
        border-radius: var(--unity-border-radius);
        border: none;
        padding: 16px 22px;
    }

}