.profileCustomizationSection_c4a87a {
    .bioTextArea_f46f71 {

        border: 2px transparent solid;
        border-radius: var(--unity-border-radius);

        &:focus-within {
            border-color: var(--brand-experiment);
        }

        &:hover:not(:focus-within) {
            border-color: var(--interactive-hover);
        }
    }

}