[role=tabpanel] {
    [class^='settingsTabBar_'], .tabBar__22a9a.top_fae1fa {
        align-items: center;
        justify-content: space-evenly;
        border-bottom: none;
    
        .tabBarItem_c09345 {
            margin: 0;
        }
    }
    }