[role=tabpanel] {
[class^='settingsTabBar_'], .tabBar__22a9a.top__592a7 {
    align-items: center;
    justify-content: space-evenly;
    border-bottom: none;

    .tabBarItem_ad34cc {
        margin: 0;
    }
}
}