.menu__088f7 {
    [role="menuitemradio"]:not(:hover) {
        svg.icon__0bfbf {
            >path:has(+ .radioSelection__41d1e) {
                color: var(--brand-experiment);
            }
        }
    }
    &:not(#account) {
        border-radius: var(--unity-border-radius);

        .item__183e8 {
            &:nth-child(2) {
                margin-top: 0px;
            }
        }

        >.scroller__8f066 {

            :not([role^="group"]) [role^="menuitem"]:only-of-type {
                margin: 0;
                border-radius: var(--unity-border-radius);
            }

            >.item__183e8 {


                &:first-of-type {
                    padding-top: 10px;
                    margin-top: 0;
                }
            }

            [role="group"] {

                &:first-of-type {
                    .submenu_aed9ee {
                        .item__183e8 {
                            padding-top: 10px;
                            margin-top: 0;
                        }
                    }

                    .item__183e8 {
                        &:first-of-type {
                            padding-top: 10px;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}


.menu__088f7:not(#account)>.scroller__8f066 [role="group"]:nth-last-child(2)>[role^="menuitem"]:last-of-type,
.menu__088f7:not(#account)>.scroller__8f066>[role^="menuitem"]:nth-last-of-type(2) {
    /* border-radius: 0px 0px var(--unity-border-radius) var(--unity-border-radius); */
    padding-bottom: 10px;
    margin-bottom: 0;
}


.menu__088f7>.scroller__8f066::-webkit-scrollbar {
    width: 0;
}

.menu__088f7#account>.scroller__8f066 [role="group"]:first-of-type>.submenuContainer-3EVTeH:last-child>.item__183e8:not([id^="account-divider"]) {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.submenuPaddingContainer__5a97c {
    padding: 0 4px;
}

.item__183e8.labelContainer__4f869 {
    padding-left: 15px;
    padding-right: 15px;
}

.item__183e8 .caret_ce50ce {
    transform: translate(5px, 1px);

}

.item__183e8 .grabber_e3daf3 {
    transform: translateY(1px);
}

.item__183e8:not([id^="account-divider"]) {
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.labelContainer-2vJzYL,
.statusItem-2a1giL {
    padding-left: 15px;
    padding-right: 15px;
}

.clickable__0b25f {
    padding: 0;
}

.base__87e58 {
    border-radius: 0px;
}


.menu__088f7>.scroller__8f066 {
    padding: 0;
}


.menu__088f7:not(#account),
.menu__088f7:not(#account)>.scroller__8f066 {
    border-radius: var(--unity-border-radius);

}




.popout_a6e77f,
.popout_a6e77f.popoutPositionTop__762b9 {
    border-radius: var(--unity-border-radius);
    top: 8px;
    box-shadow: 0px 0px 10px 1px var(--unity-background-tertiary);
    background: var(--unity-background-floating);
    -webkit-backdrop-filter: blur(var(--unity-floating-blur-radius));
    backdrop-filter: blur(var(--unity-floating-blur-radius));
    margin-top: 5px;
}

.menu__088f7:not(#account),
.popoutContainer__66068 {
    background: var(--unity-background-floating);
}

.popoutContainer__66068 {
    -webkit-backdrop-filter: blur(var(--unity-floating-blur-radius));
    backdrop-filter: blur(var(--unity-floating-blur-radius));
}

[id^=popout_]:not(#account):has(.menu__088f7)>.scroller__8f066 {
    border-radius: var(--unity-border-radius);
}

/*Blur using pseudoelement else submenus break */
.menu__088f7:not(#account).submenu_aed9ee::before,
.menu__088f7:not(#account, .submenu_aed9ee)::before {
    -webkit-backdrop-filter: blur(var(--unity-floating-blur-radius));
    backdrop-filter: blur(var(--unity-floating-blur-radius));
    content: "";
    border-radius: var(--unity-border-radius);
    transform-origin: center center;
    width: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

.menu__088f7:not(#account, .submenu_aed9ee)::before {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}

/* submenus with borders end up being the wrong size... looking at super reactions here */

.menu__088f7:not(#account).submenu_aed9ee::before {
    height: 100%;
    width: calc(100% - 8px);
    display: block;
    position: absolute;
    top: 2px;
}