/* -- User Popouts + User Profile Panel -- */


.userPopoutOuter_d739b2 {
    border-radius: var(--unity-border-radius);

    >.userPopoutInner_f545a3 {
        &::before {
            border-radius: calc(var(--unity-border-radius) - 4px);
        }

        .bannerSVGWrapper__3e7b0 {
            border-radius: calc(var(--unity-border-radius) - 4px) calc(var(--unity-border-radius) - 4px) 0 0;
        }
    }
}

//  Above also applies for the profile preview in settings.



[class*="userPopoutInner"]>[class*="wrapper"]>[class*="bannerVisible"] {
    border-radius: var(--unity-border-radius) var(--unity-border-radius) 0px 0px;
}

/* Remove stock border on input wrapper */
[class*="userPopoutOverlayBackground"] [class*="section"]>[class*="inputWrapper"] {
    border-width: 0px;
}

/* "Underline" input boxes when focused  */

:where(.messageInput__3b049, .input_d266e7):focus:not(.searchBoxInput__73c9c, .select-1Ia3hD, .select__0eb48) {
    border-bottom: var(--border-width) solid var(--brand-experiment);
}

:where(.messageInput__3b049, .input_d266e7):not(.searchBoxInput__73c9c, .select-1Ia3hD, .select__0eb48) {
    border-bottom: var(--border-width) solid var(--profile-message-input-border-color, var(--interactive-muted));
    border-radius: 0px;
}

:where(.messageInput__3b049, .input_d266e7):not(.searchBoxInput__73c9c, .select-1Ia3hD, .select__0eb48, .focused-1AtTHC, :focus):hover {
    border-bottom: var(--border-width) solid var(--interactive-hover);
}


